html {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

@media screen and (max-width: 1023px) and (min-width: 481px) {
  .container {
    width: 100%;
  }
}

.gallery-settings {
  position: absolute;
  z-index: 9999;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #2d2d44;
  padding: 20px 0;
}

.gallery-settings__close-btn {
  position: absolute;
  right: 20px;
  color: #fff;
  font-size: 20px;
}

.gallery-settings__close-btn:hover {
  color: red;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .gallery-settings__close-btn {
    top: 70px;
    right: 5px;
    font-size: 40px;
  }
}

.gallery-settings .upload-form {
  display: block;
}

@media screen and (max-width: 1023px) and (min-width: 481px) {
  .gallery-settings .upload-form {
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 480px) {
  .gallery-settings .upload-form {
    width: 95%;
    margin: 0 auto;
  }
}

.gallery-settings .upload-form .upload-form__input {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 5px;
  font-size: 18px;
  font-weight: 300;
  outline: none;
}

.gallery-settings .upload-form .upload-form__button {
  background-color: #17a217;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 100;
  margin-top: 10px;
  padding: 10px 20px;
  cursor: pointer;
}

.gallery-settings .upload-form .upload-form__button:hover {
  background-color: #2ee62e;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  border-bottom: 1px solid #a7a7a7;
}

.header__settings-btn {
  color: #a7a7a7;
  font-size: 50px;
  margin-right: 30px;
}

.header__settings-btn:hover {
  color: #666;
  cursor: pointer;
}

.container-gallery {
  width: 860px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 860px) {
  .container-gallery {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.block-img {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 286.66667px;
  padding: 5px;
}

@media screen and (max-width: 860px) {
  .block-img {
    width: 50%;
  }
}

.block-img__img {
  width: 100%;
  height: auto;
}

.block-img__img:hover .block-img__del {
  display: block;
}

.block-img__del {
  position: absolute;
  display: none !important;
  top: 15px;
  right: 5px;
  padding: 5px;
  background-color: #940303;
  font-size: 18px;
  color: #fff;
}

.block-img__del:hover {
  background-color: #dd2525;
  cursor: pointer;
}

@media screen and (max-width: 860px) {
  .block-img__del {
    display: block !important;
  }
}

.block-img:hover .block-img__del {
  display: block !important;
}

.message-gallery {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  margin-top: 30px;
}

.message-gallery__add {
  color: #5050f0;
  text-decoration: underline;
  cursor: pointer;
}

.hide {
  display: none;
}

.drop-area {
  border: 2px dashed #ccc;
  border-radius: 20px;
  margin-top: 30px;
  padding-left: 15px;
}

.drop-area.highlight {
  border-color: purple;
}

.drop-form {
  margin-bottom: 10px;
}

.drop-form__btn {
  display: inline-block;
  padding: 10px;
  background: #ccc;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.drop-form__btn:hover {
  background-color: #ddd;
}

.drop-form__par {
  color: #ccc;
}

#drop-file {
  display: none;
}
/*# sourceMappingURL=style.css.map */